<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/search-Input-responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/table-with-add.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Header-Blue.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Footer-Basic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/color-contact-list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/ionicons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/fontawesome5-overrides.min.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">

    <script defer th:src="@{/js/bootstrap.js}"></script>
    <script defer th:src="@{/js/custom.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer th:src="@{/js/script.js}"></script>

    <title>Eroare</title>
</head>
<body>
<!--<body th:style="'background-image:url(' + @{/img/wallpaper-add.png} + ');background-size: contain;background-repeat: no-repeat;background-position: center center; '">-->
<!--<body style="min-height: 100vh;">-->
<header class="header-blue-add" style="padding: 0px; margin-bottom: 60px;">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        <div class="container-fluid">
            <a class="navbar-brand" href="index" style="margin-left: 30px;">Depozitul de Jucării</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
        </div>
    </nav>
    <div class="container hero" style="margin-top: 20px;padding-bottom: 20px;">
        <div class="row" style="text-align: left;">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1" style="margin-bottom: 20px;">
                <h1 style="text-align: left;margin-top: 0px;">Eroare</h1>
            </div>
            <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder" style="padding-bottom: 12px;">
                <div class="phone-mockup"></div>
            </div>
        </div>
    </div>
</header>

<h1 style="text-align: center; margin: auto;">Nu aveți permisiunile necesare pentru a accesa pagina!</h1>






</body>
</html>